HRDemoReportUI/HRDemoReportUI.Service/Connected Services/HRDemoReportService/HRDemoReportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="HRDemoReportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:11214/HRDemoReportService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:11214/HRDemoReportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:11214/HRDemoReportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:11214/HRDemoReportService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHRDemoReportService_GetEmployeeMonthlyReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeMonthlyReport" />
  </wsdl:message>
  <wsdl:message name="IHRDemoReportService_GetEmployeeMonthlyReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeMonthlyReportResponse" />
  </wsdl:message>
  <wsdl:message name="IHRDemoReportService_GetUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetails" />
  </wsdl:message>
  <wsdl:message name="IHRDemoReportService_GetUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IHRDemoReportService_GetEmployeeOptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeOptions" />
  </wsdl:message>
  <wsdl:message name="IHRDemoReportService_GetEmployeeOptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeOptionsResponse" />
  </wsdl:message>
  <wsdl:portType name="IHRDemoReportService">
    <wsdl:operation name="GetEmployeeMonthlyReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IHRDemoReportService/GetEmployeeMonthlyReport" message="tns:IHRDemoReportService_GetEmployeeMonthlyReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHRDemoReportService/GetEmployeeMonthlyReportResponse" message="tns:IHRDemoReportService_GetEmployeeMonthlyReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IHRDemoReportService/GetUserDetails" message="tns:IHRDemoReportService_GetUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHRDemoReportService/GetUserDetailsResponse" message="tns:IHRDemoReportService_GetUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeOptions">
      <wsdl:input wsaw:Action="http://tempuri.org/IHRDemoReportService/GetEmployeeOptions" message="tns:IHRDemoReportService_GetEmployeeOptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHRDemoReportService/GetEmployeeOptionsResponse" message="tns:IHRDemoReportService_GetEmployeeOptions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHRDemoReportService" type="tns:IHRDemoReportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployeeMonthlyReport">
      <soap:operation soapAction="http://tempuri.org/IHRDemoReportService/GetEmployeeMonthlyReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <soap:operation soapAction="http://tempuri.org/IHRDemoReportService/GetUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeOptions">
      <soap:operation soapAction="http://tempuri.org/IHRDemoReportService/GetEmployeeOptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HRDemoReportService">
    <wsdl:port name="BasicHttpBinding_IHRDemoReportService" binding="tns:BasicHttpBinding_IHRDemoReportService">
      <soap:address location="http://localhost:11214/HRDemoReportService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>